@import '../styles/css-variables.scss';
@import '../styles/_scss-variables.scss';

body {
    background-color: var(--color-background-gray);
}

.link-component {
    text-decoration: none;
    color: inherit;
}

.main-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}